/* LoadingSpinner.css */
.loading-spinner {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1.5rem;
}

.spinner {
  font-size: 2rem;
  animation: spin 1s linear infinite;
  color: #00b894;
}

@keyframes spin {
  to { transform: rotate(360deg); }
}

.loading-spinner p {
  margin-top: 0.5rem;
  font-size: 1rem;
  color: #ececec;
}
